body {
    margin: 0;
    height: 100vh;
}

div {
    /* border: 4px solid brown; */
}

.header-section, .header-links {
    background-color: #1f2937;
    display: flex;
}

.links {
    width: 1300px;
    display: flex;
    margin: auto;
}

.white-main-text {
    color: #f9faf8;
}

#header-text {
    font-size: 24px;
    flex-grow: 1;
    font-weight: 600;
    align-self: center;
}


.gray-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 30px;
}